<footer id="footer">
	<div class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<h3>Menu 1</h3>
					<ul>
						<li><a href="#">This is link 2</a></li>
						<li><a href="#">This is link 2</a></li>
						<li><a href="#">This is link 2</a></li>
						<li><a href="#">This is link 2</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<h3>Menu 2</h3>
					<ul>
						<li><a href="#">This is link 2</a></li>
						<li><a href="#">This is link 2</a></li>
						<li><a href="#">This is link 2</a></li>
						<li><a href="#">This is link 2</a></li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<h3>Menu 3</h3>
					<ul>
						<li><a href="#">This is link 2</a></li>
<footer id="footer">
	<div class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-4 logobox">
					<a href="{{site.url}}"><img src="{{ site.baseurl }}/assets/images/logo.png" alt="{{site.mainkeyword}}" width="200px;""></a>
					<p class="slogan">A Breakthrough Solution for Men Seeking Better Erections and Optimal Sexual Performance.</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>GAINSWave</h3>
					<ul>
					<li><a href="{{site.url}}/benefits" title="Benefits of GAINSWave">Benefits</a></li>
					<li><a href="{{site.url}}/the-procedure" title="About the GAINSWave Procedure">The Procedure</a></li>
					<li><a href="{{site.url}}/testimonials" title="{{site.mainkeyword}} Testimonials">Testimonials</a></li>
					<li><a href="{{site.url}}/faqs" title="{{site.mainkeyword}} FAQs">FAQs</a></li>
					<li><a href="{{site.url}}/clinical-research" title="{{site.mainkeyword}} Clinical Research">Clinical Research</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<h3>Benefits</h3>
					<ul>
					<li><a href="{{site.url}}/erectile-dysfunction-treatment" title="Erectile Dysfunction Treatment">Erectile Dysfunction Treatment</a></li>
					<li><a href="{{site.url}}/peyronies-disease-treatment" title="Peyronie's Disease Treatment">Peyronie's Disease Treatment</a></li>
					<li><a href="{{site.url}}/sexual-performance-and-maintenance" title="Sexual Performance and Maintenance">Sexual Performance and Maintenance</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>ABOUT</h3>
					<ul>
<footer id="footer">
	<div class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-4 logobox">
					<a href="{{site.url}}"><img src="{{ site.baseurl }}/assets/images/logo.png" alt="{{site.mainkeyword}}" width="200px;""></a>
					<p class="slogan">A Breakthrough Solution for Men Seeking Better Erections and Optimal Sexual Performance.</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>GAINSWave</h3>
					<ul>
					<li><a href="{{site.url}}/benefits" title="Benefits of GAINSWave">Benefits</a></li>
					<li><a href="{{site.url}}/the-procedure" title="About the GAINSWave Procedure">The Procedure</a></li>
					<li><a href="{{site.url}}/testimonials" title="{{site.mainkeyword}} Testimonials">Testimonials</a></li>
					<li><a href="{{site.url}}/faqs" title="{{site.mainkeyword}} FAQs">FAQs</a></li>
					<li><a href="{{site.url}}/clinical-research" title="{{site.mainkeyword}} Clinical Research">Clinical Research</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<h3>Benefits</h3>
					<ul>
					<li><a href="{{site.url}}/erectile-dysfunction-treatment" title="Erectile Dysfunction Treatment">Erectile Dysfunction Treatment</a></li>
					<li><a href="{{site.url}}/peyronies-disease-treatment" title="Peyronie's Disease Treatment">Peyronie's Disease Treatment</a></li>
					<li><a href="{{site.url}}/sexual-performance-and-maintenance" title="Sexual Performance and Maintenance">Sexual Performance and Maintenance</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>ABOUT</h3>
					<ul>
						<li><a href="{{site.url}}/about">About Us</a></li>
						<li><a href="{{site.url}}/contact">Contact</a></li>
						<li><a href="{{site.url}}/locations">Locations</a></li>
						<li><a href="{{site.url}}/request-an-appointment">Request An Appointment</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>		
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-6 copyright-mobile">
					<p>GAINSWave. All Rights Reserved</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-6  footer-socials">
					<ul>
						<li class="fb-item"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>								
						<li class="twitter-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="pint-item"><a href="#"><i class="fa fa-instagram"></i></a></li>	
						<li class="likedin-item"><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>								
						<li class="youtube-item"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						<li class="google-plus-item"><a href=""></a></li>
						<li class="int-item"><a href=""></a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
	</div>
	<script>
		jQuery(document).ready(function($){
			$('.header-wrap').removeClass('scrolled');
			 var lastScrollTop = 0, delta = 5;
			$(window).scroll(function(){
				var st = $(this).scrollTop();
				if (st > 100)
				{
					$('.header-wrap').addClass('scrolled');
				}
				else 
				{
					$('.header-wrap').removeClass('scrolled');
				}
			});
			$('.toggle-nav').click(function(){
				
				jQuery('.main-menu').stop(true,true).slideToggle(400,"easeOutCubic");
			});
		});
	</script>
	</body>
</html>
