<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>html</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function(){
				//$('.nav-bar').addClass('active');
				$('.toggle-nav').click(function(){
					$('.nav-bar').addClass('active');
					$('.main-menu').css('display', 'none');
				});
				$('.close-bar-button').click(function(){
					$('.nav-bar').removeClass('active');
				});
				
				$(".nav-bar-list li.parent a").on("click",function(i){
					i.preventDefault();
					var e=$(this).siblings("ul");
					$(this).hasClass("active")?($(this).removeClass("active"),e.slideUp()):($(this).addClass("active"),e.slideDown());
				});
			});
		</script>
	</head>

	<body>
	<div class="wrapper">
		<header class="header-wrap">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12 header-top-content">
							<ul>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#"><strong>1 (800) 324 - 2344</strong></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
				<div class="header-nav">
					<div class="col-xs-6 col-sm-2 col-lg-2 header-logo">
						<img src="{{ site.baseurl }}/assets/images/logo.png" alt="GainsWave">
					</div>
					<div class="col-xs-6 col-sm-10 col-lg-10 header-right">
						<div class="col-xs-12 col-sm-12 col-lg-12 nav">
							<a href="#" class="toggle-nav"><i class="fa fa-bars" aria-hidden="true"></i></a>
							<ul class="main-nav">
								<li><a href="#">About Us</a></li>
								<li><a href="#">What is GainsWave?</a>
									
								</li>
								<li><a href="#">Testimonials</a></li>
								<li><a href="#">FAQs</a></li>
								<li class="btn btn-appointment"><a href="#">Request An Appointment</a></li>
							</ul>
						</div>
						
					</div>
					</div>
				</div>
			</div>
			<div class="nav-bar">
				<div class="nav-bar-button">
					<div class="close-bar-button"><i class="fa fa-times" aria-hidden="true"></i></div>
					<a href="#" class="btn btn-request-bg">Request an Appointment</a>
				</div>
				<div class="nav-bar-content">
					<div class="nav-content-scroll" style="height:160px;">
					<ul class="nav-bar-list">
						<li><a href="#">About Us</a></li>
						<li class="parent"><a href="#">What is GainsWave?</a>
							<ul class="sub-menu">
								<li><a href="">sub item 1</a></li>
								<li><a href="">sub item 1</a></li>
								<li><a href="">sub item 1</a></li>
								<li><a href="">sub item 1</a></li>
							</ul>
						</li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Request An Appointment</a></li>
					</ul>
					</div>
				</div>
				<div class="nav-bar-other">
					<p>1 (800) 324 - 2344</p>
				</div>
			</div>
		</header>
