<div class="col-xs-12 col-sm-3 col-lg-3 sidebar-right">
	<img src="{{ site.url }}/assets/images/Logo.png">
	<h3>Location</h3>
	<ul class="contact-info">
		<li class="contact-address"><span class="icon icon-map"></span><span>800 W Arbrook Blvd, Ste 209 Arlington, TX 76015</span></li>
		<li class="contact-phone"><i class="fa fa-phone" aria-hidden="true"></i><span>(800) 234 - 1233</span></li>
	</ul>
	<div class="location-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3358.125324957541!2d-97.12070538520622!3d32.68271278100054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e62c68aec5b0f%3A0x113659897352e0d2!2s800+W+Arbrook+Blvd+%23209%2C+Arlington%2C+TX+76015!5e0!3m2!1sen!2s!4v1488531237978" width="600" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
		<a href="#" class="btn btn-location">Get Location</a>
	</div>

</div>